<div class="p-4 max-w-2xl mx-auto">
  <h1 class="text-5xl" class="font-bold" style="padding: 4px; margin: 8px; font-size: 30px;">{{ title() }}</h1>

  <div></div>

  <div class="p-4">
    <button class="border bg-amber-600 border-amber-600    cursor-pointer hover:bg-amber-300   "
            style="border-radius: 8px; padding: 4px;" (click)="fetchBooks()"
            [disabled]="isLoading()">
      {{ isLoading() ? 'Loading...' : 'Fetch Books' }}
    </button>
  </div>

  <div class="my-4"></div>

  @if (store.isLoading()) {
    <p>Loading books...</p>
  }

  @if (!isLoading() && booksCount() > '0') {
    <p style="padding: 8px;">Found {{ booksCount() }} book(s)</p>
    <ul>
      @for (book of store.sortedBooks(); track book; let i = $index; ) {
        <li class="p-2 border-b m-1 bg-amber-50 border rounded-2xl border-amber-400"
            [ngClass]="{'bg-amber-100': book.id % 2 === 0}">
          {{ book.title }}
        </li>
      }

    </ul>
  }

  @if (!isLoading() && booksCount() === 0) {
    <p>No books found</p>
  }

  <div class="p-4">
    <button class="border bg-amber-600 border-amber-600    cursor-pointer hover:bg-amber-300   "
            style="border-radius: 8px; padding: 4px;" (click)="fetchBooks()"
            [disabled]="isLoading()">
      {{ 'Clear Books' }}
    </button>
  </div>
</div>



